
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.about-pF7 {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .sub-page-hero-b-LDT {
    overflow: hidden;
    box-sizing: border-box;
    width: 143.4rem;
    height: 106.7rem;
    top: 0;
    padding: 12.6rem 3.7rem 9.7rem 7.4rem;
    position: absolute;
    left: 0;
    background-color: #ffffff;

    .about-us-yGR {
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      margin-left: 2.3rem;
      font-size: 4.8rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: -0.072rem;
    }
    .auto-group-prks-ssb {
      margin-bottom: 2rem;
      width: 100%;
      height: 32rem;
      display: flex;
      align-items: center;

      .auto-group-x7yp-bHo {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 2rem;
        height: 100%;

        .item-1-3-KDo {
          width: 30rem;
          height: 30rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 25rem;
        }
      }
      .auto-group-e3s3-1MX {
        display: flex;
        column-gap: 4.1rem;
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2rem 0rem 0rem 4.1rem;
        height: 100%;

        .item-1-1-tw7 {
          height: 30rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 25rem;
          flex-shrink: 0;
          width: 30rem;
        }
        .item-1-2-oYH {
          width: 30rem;
          height: 30rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 25rem;
          flex-shrink: 0;
        }
        .item-1-4-vcu {
          vertical-align: top;
          border-radius: 25rem;
          flex-shrink: 0;
          width: 30rem;
          height: 30rem;
          object-fit: cover;
        }
      }
    }
    .we-are-a-group-of-georgia-tech-students-who-created-this-project-during-a-hackathon-we-aim-to-provide-tools-and-education-about-how-artificial-intelligence-ai-can-be-used-to-detect-skin-cancer-while-raising-awareness-about-current-bias-and-issues-with-existing-skin-lesion-detection-ai-and-working-to-offer-healthcare-providers-with-easy-tools-to-reduce-bias-in-the-data-and-improve-accuracy-of-predictions-SLM {
      max-width: 129.9rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 2.25;
      letter-spacing: -0.048rem;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      margin-left: 2.4rem;
    }
  }
  .navigation-c-HkH {
    width: 144rem;
    height: 6.4rem;
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #ecf2f1;
    padding: 1.15rem 1rem 1.15rem 1.75rem;
    left: 0;
    top: 0;
    overflow: hidden;
    box-sizing: border-box;

    .skin-tect-Mk9 {
      font-size: 3.6rem;
      font-weight: 400;
      letter-spacing: -0.054rem;
      flex-shrink: 0;
      margin-right: 7.6rem;
      display: flex;
      justify-content: center;
      font-family: Comfortaa, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      line-height: 1.115;
      color: #000000;
    }
    .home-PB3 {
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      line-height: 1.2175;
      letter-spacing: -0.027rem;
      flex-shrink: 0;
      margin-right: 3.2rem;
      font-weight: 500;
      color: #03989e;
    }
    .additional-resources-7Mw {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.2175;
      color: #03989e;
      margin-right: 3.1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      letter-spacing: -0.027rem;
      flex-shrink: 0;
    }
    .about-us-Qbw {
      align-items: center;
      line-height: 1.2175;
      white-space: nowrap;
      flex-shrink: 0;
      color: #03989e;
      font-family: Montserrat, 'Source Sans Pro';
      margin-right: 56.55rem;
      display: flex;
      justify-content: center;
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: -0.027rem;
    }
    .button-6zZ {
      display: flex;
      font-size: 1.5rem;
      border-radius: 0.6rem;
      background-color: #03989e;
      flex-shrink: 0;
      width: 21.9rem;
      justify-content: center;
      font-weight: 500;
      color: #ecf2f1;
      align-items: center;
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0.05rem 0;
      height: calc(100% - 0.1rem);
      cursor: pointer;
      letter-spacing: -0.0225rem;
    }
  }
}
