
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.healthcare-submitted-JJq {
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 0.1rem;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;

  .navigation-c-BtR {
    width: 100%;
    position: relative;
    background-color: #ecf2f1;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.15rem 79.45rem 1.15rem 1.75rem;
    align-items: center;
    overflow: hidden;
    display: flex;

    .skin-tect-V8R {
      letter-spacing: -0.054rem;
      font-family: Comfortaa, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      justify-content: center;
      font-weight: 400;
      line-height: 1.115;
      color: #000000;
      flex-shrink: 0;
      margin-right: 7.6rem;
      align-items: center;
      font-size: 3.6rem;
    }
    .home-iG5 {
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: -0.027rem;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1.2175;
      color: #03989e;
      white-space: nowrap;
      margin-right: 3.2rem;
    }
    .additional-resources-9cH {
      flex-shrink: 0;
      margin-right: 3.1rem;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      color: #03989e;
      white-space: nowrap;
      display: flex;
      font-size: 1.8rem;
      line-height: 1.2175;
      letter-spacing: -0.027rem;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .about-us-yLR {
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
      align-items: center;
      font-weight: 500;
      letter-spacing: -0.027rem;
      color: #03989e;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      font-size: 1.8rem;
      line-height: 1.2175;
    }
  }
  .hero-c-BxH {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    padding-top: 18.9rem;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    box-sizing: border-box;

    .the-largest-community-of-photo-enthusiasts-trh {
      margin: 0rem 8.25rem 13.2rem 8.25rem;
      width: calc(100% - 16.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .successful-submition-ZT3 {
        text-align: center;
        font-size: 4.8rem;
        line-height: 1.5;
        letter-spacing: -0.072rem;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 9rem;
        color: #000000;
        flex-shrink: 0;
        font-weight: 400;
      }
      .thank-you-for-your-time-and-effort-towards-helping-to-support-our-mission-we-have-received-your-request-look-for-an-email-at-the-address-you-provided-with-steps-to-create-your-account-once-we-have-verified-your-information-qvM {
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.3888888889;
        max-width: 127.5rem;
        text-align: center;
        letter-spacing: -0.054rem;
        color: rgba(0, 0, 0, 0.8000000119);
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .auto-group-dbau-qJ5 {
      width: 100%;
      height: 27.6rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-2-ZE5 {
        top: 0;
        background-color: #03989e;
        border-radius: 0.6rem;
        width: 27.7765rem;
        height: 5.8406rem;
        cursor: pointer;
        position: absolute;
        left: 58.1rem;
      }
      .home-fH7 {
        height: 3rem;
        justify-content: center;
        position: absolute;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        width: 7.4rem;
        align-items: center;
        font-size: 2.4rem;
        letter-spacing: -0.036rem;
        left: 68.2646rem;
        top: 1.4562rem;
        display: flex;
        font-weight: 500;
        line-height: 1.2175;
      }
    }
  }
}
