
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.healthcare-login-qEV {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  box-sizing: border-box;
  padding-bottom: 0.1rem;
  flex-direction: column;
  background-color: #ffffff;

  .navigation-c-fcq {
    display: flex;
    flex-shrink: 0;
    width: 144.4rem;
    padding: 1.15rem 79.65rem 1.15rem 1.777rem;
    overflow: hidden;
    position: relative;
    align-items: center;
    background-color: #ecf2f1;
    box-sizing: border-box;

    .skin-tect-U6R {
      margin-right: 7.6728rem;
      display: flex;
      line-height: 1.115;
      letter-spacing: -0.054rem;
      color: #000000;
      align-items: center;
      justify-content: center;
      font-size: 3.6rem;
      font-weight: 400;
      font-family: Comfortaa, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .home-PuX {
      justify-content: center;
      font-size: 1.8rem;
      color: #03989e;
      margin-right: 3.2rem;
      align-items: center;
      font-weight: 500;
      line-height: 1.2175;
      letter-spacing: -0.027rem;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
    }
    .additional-resources-KCq {
      display: flex;
      align-items: center;
      font-weight: 500;
      margin-right: 3.2rem;
      font-size: 1.8rem;
      line-height: 1.2175;
      letter-spacing: -0.027rem;
      color: #03989e;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      justify-content: center;
    }
    .about-us-Ac5 {
      justify-content: center;
      font-weight: 500;
      color: #03989e;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      align-items: center;
      font-size: 1.8rem;
      line-height: 1.2175;
      letter-spacing: -0.027rem;
      display: flex;
    }
  }
  .hero-c-8xD {
    padding: 4.4rem 6rem 6.2rem 5.1rem;
    width: 100%;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
    display: flex;
    background-color: #ffffff;

    .the-largest-community-of-photo-enthusiasts-8Kw {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 4rem 7.2rem 2.9rem;
      width: calc(100% - 6.9rem);
      align-items: center;
      display: flex;

      .provider-login-ZAM {
        font-weight: 400;
        line-height: 1.5;
        font-size: 4.8rem;
        letter-spacing: -0.072rem;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.9rem;
        text-align: center;
      }
      .thank-you-for-your-time-in-helping-support-our-mission-sign-in-below-to-submit-entries-for-consideration-into-our-database-kkd {
        font-family: Montserrat, 'Source Sans Pro';
        text-align: center;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.3888888889;
        letter-spacing: -0.054rem;
        max-width: 126rem;
        color: rgba(0, 0, 0, 0.8000000119);
        flex-shrink: 0;
      }
    }
    .group-TYZ {
      flex-shrink: 0;
      padding: 8.1rem 36rem 8.05rem 36.9rem;
      background-color: #ffffff;
      align-items: center;
      display: flex;
      flex-direction: column;
      border: solid 0.1rem rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
      width: 100%;

      .log-in-to-your-account-below-7t1 {
        line-height: 1.5;
        letter-spacing: -0.036rem;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 1.975rem 4.3rem 0rem;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 700;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .auto-group-xvem-dzm {
        box-sizing: border-box;
        letter-spacing: -0.0225rem;
        font-family: Montserrat, 'Source Sans Pro';
        border: solid 0.1rem rgba(0, 0, 0, 0.5);
        margin-bottom: 3.7rem;
        padding: 1.3rem 3rem 2.5rem 3rem;
        line-height: 1.6;
        flex-shrink: 0;
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 0.8000000119);
        white-space: nowrap;
        width: 100%;
        font-weight: 400;
        background-color: #f6f8f8;
      }
      .auto-group-zftr-h7T {
        color: rgba(0, 0, 0, 0.8000000119);
        margin-bottom: 7.3rem;
        font-size: 1.5rem;
        width: 100%;
        line-height: 1.6;
        white-space: nowrap;
        border: solid 0.1rem rgba(0, 0, 0, 0.5);
        background-color: #f6f8f8;
        flex-shrink: 0;
        padding: 1.2rem 3rem;
        font-family: Montserrat, 'Source Sans Pro';
        font-weight: 400;
        letter-spacing: -0.0225rem;
        box-sizing: border-box;
        height: 6.2rem;
      }
      .button-bc9 {
        height: 5.8406rem;
        align-items: center;
        font-weight: 500;
        font-family: Montserrat, 'Source Sans Pro';
        width: calc(100% - 32.2235rem);
        line-height: 1.2175;
        letter-spacing: -0.0225rem;
        white-space: nowrap;
        background-color: #03989e;
        border-radius: 0.6rem;
        font-size: 1.5rem;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        color: #ffffff;
        margin: 0rem 16.123rem 2.709rem 16.1rem;
      }
      .i-need-to-request-an-account-9n5 {
        align-items: center;
        justify-content: center;
        line-height: 1.2175;
        flex-shrink: 0;
        margin-right: 0.1rem;
        display: flex;
        letter-spacing: -0.036rem;
        text-decoration-line: underline;
        color: #03989e;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2.4rem;
        font-weight: 500;
      }
    }
  }
}
