
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.homepage-iNH {
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.homepage-iNH .frame-1-21b {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.homepage-iNH .frame-1-21b .navigation-c-AvR {
  margin: 0 0.4rem;
  box-sizing: border-box;
  padding: 1.15rem 0.1rem 1.15rem 1.75rem;
  width: calc(100% - 0.8rem);
  height: 6.4rem;
  display: flex;
  align-items: center;
  background-color: #ecf2f1;
  flex-shrink: 0;
}
.homepage-iNH .frame-1-21b .navigation-c-AvR .skin-tect-5g1 {
  margin-right: 18.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.115;
  letter-spacing: -0.054rem;
  color: #000000;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage-iNH .frame-1-21b .navigation-c-AvR .home-eMj {
  margin-right: 17rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.027rem;
  color: #03989e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage-iNH .frame-1-21b .navigation-c-AvR .additional-resources-j8H {
  margin-right: 17.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.027rem;
  color: #03989e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage-iNH .frame-1-21b .navigation-c-AvR .about-us-odw {
  margin-right: 17.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.027rem;
  color: #03989e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage-iNH .frame-1-21b .navigation-c-AvR .button-Uzy {
  margin: 0.05rem 0;
  width: 21.9rem;
  height: calc(100% - 0.1rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.0225rem;
  color: #ecf2f1;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #03989e;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.homepage-iNH .frame-1-21b .hero-b-Zf3 {
  width: 100%;
  height: 96rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.homepage-iNH .frame-1-21b .hero-b-Zf3 .rectangle-oJV {
  width: 71.7rem;
  height: 96rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.3000000119);
  box-sizing: border-box;
  background-color: #e5e5e5;
  flex-shrink: 0;
}
.homepage-iNH .frame-1-21b .hero-b-Zf3 .frame-5-fLh {
  box-sizing: border-box;
  padding: 26.1rem 4.5rem;
  width: 72.3rem;
  height: 100%;
  background-color: #ffffff;
  flex-shrink: 0;
}
.homepage-iNH .frame-1-21b .hero-b-Zf3 .frame-5-fLh .the-largest-community-of-photo-enthusiasts-LBw {
  margin-bottom: 1.3rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.096rem;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.homepage-iNH .frame-1-21b .hero-b-Zf3 .frame-5-fLh .our-program-has-been-trained-to-distinguish-between-seven-different-types-of-skin-lesions-two-of-which-are-cancerous-if-you-have-a-skin-lesion-you-are-concerned-about-submit-an-image-below-for-our-analysis-of-your-risk-factor-wBj {
  margin: 0rem 0rem 2.5rem 0.4rem;
  max-width: 56.5rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.6346153846;
  letter-spacing: -0.039rem;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Montserrat, 'Source Sans Pro';
}
.homepage-iNH .frame-1-21b .hero-b-Zf3 .frame-5-fLh .button-5x9 {
  width: 23.5rem;
  height: 6.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2175;
  letter-spacing: -0.036rem;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #03989e;
  border-radius: 0.6rem;
}
