<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>MAKERS_BRAND_LOGO</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500"/>
  <link rel="stylesheet" href="{% static './styles/makersbrandlogo.css' %}"/>
</head>
<body>
<div class="makersbrandlogo-kr1"column">
  <div class="typelogo-qMf"one">
    <div class="makingit-logo-KGq"row">
      <div class="icon-Rqf"none">
        <div class="rectangle-5-oDw"absolute">
        </div>
        <div class="rectangle-6-sjb"absolute">
        </div>
        <div class="rectangle-7-XJM"absolute">
        </div>
      </div>
      <p class="logo-PrM"leaf">Logo</p>
    </div>
  </div>
  <div class="typeicon-NCV"one">
    <div class="icon-Nbo"none">
      <div class="rectangle-5-K1F"absolute">
      </div>
      <div class="rectangle-6-wYR"absolute">
      </div>
      <div class="rectangle-7-sws"absolute">
      </div>
    </div>
  </div>
</div>
</body>