<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>About</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A400%2C500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500"/>
  <link rel="stylesheet" href="{% static './styles/about.css' %}"/>
</head>
<body>
<div class="about-pF7"none">
  <div class="sub-page-hero-b-LDT"column">
    <p class="about-us-yGR"leaf">About Us</p>
    <div class="auto-group-prks-ssb"row">
      <div class="auto-group-x7yp-bHo"one">
        <img class="item-1-3-KDo" src="https://prod-us-east-2-first-cluster-imagefiles.s3.us-east-2.amazonaws.com/NEVsYr5d6R2KFnHuNM8QQR/0ea89b0c2075a193e33bd225611495c9b8181762?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAXVPFZJN46ZPUFYZL%2F20221023%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20221023T043941Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&x-id=GetObject&X-Amz-Signature=826eb8f5cf22db501456eea42877ecec915a73114081a348d4e2737c02877681"leaf"/>
      </div>
      <div class="auto-group-e3s3-1MX"row">
        <img class="item-1-1-tw7" src="https://prod-us-east-2-first-cluster-imagefiles.s3.us-east-2.amazonaws.com/NEVsYr5d6R2KFnHuNM8QQR/8ab5ea87120ee9fb84836f0b4c1ce3e21a63023d?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAXVPFZJN46ZPUFYZL%2F20221023%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20221023T043941Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&x-id=GetObject&X-Amz-Signature=74f081d6f546aedb3aa90921dc864f379fe447d762200da91a96277eecaae56e"leaf"/>
        <img class="item-1-2-oYH" src="https://prod-us-east-2-first-cluster-imagefiles.s3.us-east-2.amazonaws.com/NEVsYr5d6R2KFnHuNM8QQR/ea70f53988e06907a79d9b778dcc7f00324b34cb?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAXVPFZJN46ZPUFYZL%2F20221023%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20221023T043941Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&x-id=GetObject&X-Amz-Signature=9617bdf5d9c0282941770e21484ddd8df9a3f4eb2280384fd7d062379db6bb49"leaf"/>
        <img class="item-1-4-vcu" src="https://prod-us-east-2-first-cluster-imagefiles.s3.us-east-2.amazonaws.com/NEVsYr5d6R2KFnHuNM8QQR/8499a1f9aeb9549310ac10a5f97283f0f21240a9?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAXVPFZJN46ZPUFYZL%2F20221023%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20221023T043941Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&x-id=GetObject&X-Amz-Signature=f1ee6977740039b665747ce963340af423b634b419b4a4f5b4bb0424e59e7225"leaf"/>
      </div>
    </div>
    <p class="we-are-a-group-of-georgia-tech-students-who-created-this-project-during-a-hackathon-we-aim-to-provide-tools-and-education-about-how-artificial-intelligence-ai-can-be-used-to-detect-skin-cancer-while-raising-awareness-about-current-bias-and-issues-with-existing-skin-lesion-detection-ai-and-working-to-offer-healthcare-providers-with-easy-tools-to-reduce-bias-in-the-data-and-improve-accuracy-of-predictions-SLM"leaf">
    We are a group of Georgia Tech Students who created this project during a hackathon. We aim to provide tools and education about how artificial intelligence (AI) can be used to detect skin cancer, while raising awareness about current bias and issues with existing skin lesion detection AI, and working to offer healthcare providers with easy tools to reduce bias in the data and improve accuracy of predictions. 
    <br/>
    
    </p>
  </div>
  <div class="navigation-c-HkH"row">
    <div class="skin-tect-Mk9"leaf">Skin-tect</div>
    <div class="home-PB3"leaf">Home</div>
    <div class="additional-resources-7Mw"leaf">Additional Resources</div>
    <div class="about-us-Qbw"leaf">About Us</div>
    <button class="button-6zZ"leaf" onClick="window.location.href='healthcare-create-account';">I’m a Healthcare Provider</button>
  </div>
</div>
</body>