<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Healthcare Submitted</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A400%2C500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa%3A400"/>
  <link rel="stylesheet" href="{% static './styles/healthcare-submitted.css' %}"/>
</head>
<body>
<div class="healthcare-submitted-JJq"column">
  <div class="navigation-c-BtR"row">
    <div class="skin-tect-V8R"leaf">Skin-tect</div>
    <div class="home-iG5"leaf">Home</div>
    <div class="additional-resources-9cH"leaf">Additional Resources</div>
    <div class="about-us-yLR"leaf">About Us</div>
  </div>
  <div class="hero-c-BxH"column">
    <div class="the-largest-community-of-photo-enthusiasts-trh"column">
      <p class="successful-submition-ZT3"leaf">Successful Submition</p>
      <p class="thank-you-for-your-time-and-effort-towards-helping-to-support-our-mission-we-have-received-your-request-look-for-an-email-at-the-address-you-provided-with-steps-to-create-your-account-once-we-have-verified-your-information-qvM"leaf">Thank you for your time and effort towards helping to support our mission. We have received your request. Look for an email at the address you provided with steps to create your account once we have verified your information.</p>
    </div>
    <div class="auto-group-dbau-qJ5"none">
      <button class="rectangle-2-ZE5"leaf" onClick="window.location.href='homepage.html';">
      </button>
      <div class="home-fH7"leaf">Home</div>
    </div>
  </div>
</div>
</body>