<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Healthcare Login</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="{% static './styles/healthcare-login.css' %}"/>
</head>
<body>
<div class="healthcare-login-qEV"column">
  <div class="navigation-c-fcq"row">
    <div class="skin-tect-U6R"leaf">Skin-tect</div>
    <div class="home-PuX"leaf">Home</div>
    <div class="additional-resources-KCq"leaf">Additional Resources</div>
    <div class="about-us-Ac5"leaf">About Us</div>
  </div>
  <div class="hero-c-8xD"column">
    <div class="the-largest-community-of-photo-enthusiasts-8Kw"column">
      <p class="provider-login-ZAM"leaf">Provider Login</p>
      <p class="thank-you-for-your-time-in-helping-support-our-mission-sign-in-below-to-submit-entries-for-consideration-into-our-database-kkd"leaf">Thank you for your time in helping support our mission. Sign in below to submit entries for consideration into our database. </p>
    </div>
    <div class="group-TYZ"column">
      <p class="log-in-to-your-account-below-7t1"leaf">Log in to your account below</p>
      <div class="auto-group-xvem-dzm"leaf">Email address</div>
      <div class="auto-group-zftr-h7T"leaf">Password</div>
      <button class="button-bc9"leaf" onClick="window.location.href='provider-scan.html';">Log in</button>
      <div class="i-need-to-request-an-account-9n5"leaf">I need to request an account</div>
    </div>
  </div>
</div>
</body>