<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Healthcare Create Account</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="{% static './styles/healthcare-create-account.css' %}"/>
</head>
<body>
<div class="healthcare-create-account-5vV"column">
  <div class="navigation-c-ByX"row">
    <div class="skin-tect-VUR"leaf">Skin-tect</div>
    <div class="home-NHK"leaf">Home</div>
    <div class="additional-resources-g37"leaf">Additional Resources</div>
    <div class="about-us-y2D"leaf">About Us</div>
  </div>
  <div class="hero-c-cqs"column">
    <div class="the-largest-community-of-photo-enthusiasts-XC9"column">
      <p class="provider-account-creation-bxh"leaf">Provider Account Creation</p>
      <p class="thank-you-for-your-time-in-helping-support-our-mission-sign-in-below-to-submit-entries-for-consideration-into-our-database-gz9"leaf">Thank you for your time in helping support our mission. Sign in below to submit entries for consideration into our database. </p>
    </div>
    <div class="group-nxd"column">
      <p class="log-in-to-your-account-below-14h"leaf">Log in to your account below</p>
      <form>
        <input class="auto-group-ntmx-nUm"leaf" name="email_address" placeholder="Email address"></input>
      </form>
      <form>
        <input class="auto-group-uqay-Xam"leaf" name="password" placeholder="Password"></input>
      </form>
      <form> 
        <input class="auto-group-alar-qzm"leaf" name="confirm_password" placeholder="Confirm Password"></input>
      </form>
      
      <button class="button-M5w"leaf" onClick="window.location.href='login';">Create Account</button>
    </div>
  </div>
</div>
</body>