<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Healthcare Provider</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="{% static './styles/healthcare-provider.css' %}"/>
</head>
<body>
<div class="healthcare-provider-J4d"column">
  <div class="navigation-c-oGH"row">
    <div class="skin-tect-G9s"leaf">Skin-tect</div>
    <div class="home-7gH"leaf">Home</div>
    <div class="additional-resources-PNu"leaf">Additional Resources</div>
    <div class="about-us-5mX"leaf">About Us</div>
  </div>
  <div class="hero-c-aTP"column">
    <div class="the-largest-community-of-photo-enthusiasts-Hch"column">
      <p class="want-to-support-our-mission-xiq"leaf">Want to Support Our Mission?</p>
      <p class="if-you-are-a-healthcare-provider-sign-up-below-to-submit-entries-for-consideration-into-our-database-2ih"leaf">If you are a healthcare provider, sign up below to submit entries for consideration into our database. </p>
    </div>
    <div class="auto-group-mjro-Tp1"one">
      <div class="group-Zc9"column">
        <p class="request-an-account-below-TSd"leaf">Request an account below</p>
        <div class="auto-group-qfcy-uZX"row">
          <div class="auto-group-cxsy-RGy"leaf">First name</div>
          <div class="auto-group-q6p5-d89"leaf">Last name</div>
        </div>
        <div class="auto-group-npvb-2RB"leaf">Email address</div>
        <div class="auto-group-byah-3bB"row">
          <div class="auto-group-qsmt-N7f"leaf">Medical license number</div>
          <div class="auto-group-azhb-A3X"leaf">National Provider Identifier</div>
        </div>
        <div class="auto-group-u4xw-mp1"row">
          <div class="auto-group-pkvz-hxZ"leaf">Address of current location of practice</div>
          <div class="auto-group-tw5w-Wv1"leaf">State</div>
          <div class="auto-group-dubf-M9w"leaf">Zip code</div>
        </div>
        <button class="button-NKw"leaf" onClick="window.location.href='healthcare-create-account.html';">Register</button>
      </div>
    </div>
  </div>
</div>
</body>