<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Homepage</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A400%2C500"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500"/>
  <link rel="stylesheet" href="./styles/homepage.css"/>
</head>
<body>
<div class="homepage-iNH"one">
  <div class="frame-1-21b"column">
    <div class="navigation-c-AvR"row">
      <div class="skin-tect-5g1"leaf">Skin-tect</div>
      <div class="home-eMj"leaf">Home</div>
      <div class="additional-resources-j8H"leaf">Additional Resources</div>
      <div class="about-us-odw"leaf">About Us</div>
      <button class="button-Uzy"leaf" onClick="window.location.href='healthcare-create-account.html';"">I’m a Healthcare Provider</button>
    </div>
    <div class="hero-b-Zf3"row">
      <div class="rectangle-oJV"leaf">
      </div>
      <div class="frame-5-fLh"column">
        <p class="the-largest-community-of-photo-enthusiasts-LBw"leaf">Welcome</p>
        <p class="our-program-has-been-trained-to-distinguish-between-seven-different-types-of-skin-lesions-two-of-which-are-cancerous-if-you-have-a-skin-lesion-you-are-concerned-about-submit-an-image-below-for-our-analysis-of-your-risk-factor-wBj"leaf">Our program has been trained to distinguish between seven different types of skin lesions, two of which are cancerous. If you have a skin lesion you are concerned about, submit an image below for our analysis of your risk factor.</p>
        <button class="button-5x9"leaf" onClick="window.location.href='start-scanning.html';">Start Scanning</button>
      </div>
    </div>
  </div>
</div>
</body>