<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Provider Scan</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa%3A400"/>
  <link rel="stylesheet" href="{% static './styles/provider-scan.css' %}"/>
  <script type = "text/javascript">
    function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
  
      reader.onload = function (e) {
        $('#blah').attr('src', e.target.result).width(150).height(200);
      };
  
      reader.readAsDataURL(input.files[0]);
    }
  }
  </script>
</head>
<body>
<div class="provider-scan-kpd"column">
  <div class="auto-group-ybim-rMs"none">
    <div class="body-i-Buw"column">
      <p class="how-to-take-a-photo-pT7"leaf">How to Take A Photo</p>
      <div class="auto-group-6suv-rub"row">
        <img class="item-1-1-mWm" src="./assets/1.png"leaf"/>
        <img class="item-2-1-f6M" src="./assets/2.png"leaf"/>
        <img class="item-3-1-NFf" src="./assets/3.png"leaf"/>
      </div>
      <div class="auto-group-t8s7-sCR"row">
        <div class="group-Ney"column">
          <p class="turn-on-flash-6qs"leaf">Turn on Flash</p>
          <p class="make-sure-that-your-cameras-flash-is-turned-on-for-the-best-possible-image-mh7"leaf">Make sure that your camera’s flash is turned on for the best possible image.</p>
        </div>
        <div class="group-2-PiV"column">
          <p class="focus-on-lesion-XZo"leaf">Focus on Lesion</p>
          <p class="ensure-that-the-camera-lens-is-focused-on-the-area-of-concern-and-that-the-image-is-not-blurry-DxR"leaf">Ensure that the camera lens is focused on the area of concern and that the image is not blurry.</p>
        </div>
        <div class="group-3-Rob"column">
          <p class="crop-your-image-Zeu"leaf">Crop your Image</p>
          <p class="crop-the-image-so-that-the-lesion-takes-up-one-third-of-the-width-and-one-third-of-the-height-and-is-centered-in-the-photo-3a5"leaf">Crop the image so that the lesion takes up one-third of the width and one-third of the height, and is centered in the photo.</p>
        </div>
      </div>
      <input type="file"  accept="image/*" name="image" id="file" accept=".jpg, .jpeg, .png" onchange="loadFile(event)" style="display: none;">
      <label for="file" class="button-xKf"leaf">Upload Image</label>

      <script>
        var loadFile = function(event) {
          var image = document.getElementById('output');
          image.src = URL.createObjectURL(event.target.files[0]);
        };
        </script>
    </div>
    <div class="navigation-c-N21"row">
      <div class="skin-tect-xku"leaf">Skin-tect</div>
      <div class="home-Npd"leaf">Home</div>
      <div class="additional-resources-5yw"leaf">Additional Resources</div>
      <div class="about-us-mbs"leaf">About Us</div>
    </div>
  </div>
  <div class="auto-group-lfim-c6h"column">
    <img id="output" class="rectangle-jSD"leaf">
    <div class="group-AGd"none">
      <p class="additional-diagnostic-information-FYy"leaf">Additional Diagnostic Information</p>
      <button class="button-1gZ"leaf" onClick="window.location.href='healthcare-submitted.html';">SUBMIT</button>
      <div class="auto-group-ypdw-ZrV"row">
        <div class="rectangle-2-s6V"leaf">
        </div>
        <p class="i-have-recieved-formal-permission-from-the-patient-to-share-the-above-private-medical-information-jeV"leaf">I have recieved formal permission from the patient to share the above private medical information</p>
      </div>
      <div class="auto-group-p97k-CY5"row">
        <div class="rectangle-2-uSV"leaf">
        </div>
        <p class="i-confirm-that-the-above-information-is-entirely-correct-to-the-best-of-my-knowledge-PMf"leaf">I confirm that the above information is entirely correct to the best of my knowledge</p>
      </div>
      <input class="auto-group-so81-e2h"leaf" name="dx" placeholder="Diagnosis"></input>
      <input class="auto-group-yjaz-Bgq"leaf" name="dx_type" placeholder="Diagnosis Type"></input>
      <div class="auto-group-sqdb-Wcd"row">
        <input class="auto-group-yudt-PRX"leaf" name="localization" placeholder="Localization of Lesion"></input>
        <input class="auto-group-qpsr-pWq"leaf" name="age" placeholder="Patient Age"></input>
        <input class="auto-group-amx9-RmX"leaf" name="sex" placeholder="Patient Sex"></input>
      </div>
    </div>
  </div>
  <div class="rectangle-3-d6u"leaf">
  </div>
</div>
</body>