<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Start Scanning</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="{% static './styles/start-scanning.css' %}"/>
</head>
<body>
<div class="start-scanning-Jxd"column">
  <div class="auto-group-k9fk-oeV"none">
    <div class="body-i-qr5"column">
      <p class="how-to-take-your-photo-g61"leaf">How to Take Your Photo</p>
      <div class="auto-group-cm6v-JdB"row">
        <img class="item-1-1-c85" src="./assets/1.png"leaf"/>
        <img class="item-2-1-qFj" src="./assets/2.png"leaf"/>
        <img class="item-3-1-UJh" src="./assets/3.png"leaf"/>
      </div>
      <div class="auto-group-ne5b-76m"row">
        <div class="group-QLm"column">
          <p class="turn-on-flash-KyX"leaf">Turn on Flash</p>
          <p class="make-sure-that-your-cameras-flash-is-turned-on-for-the-best-possible-image-T65"leaf">Make sure that your camera’s flash is turned on for the best possible image.</p>
        </div>
        <div class="group-2-QfX"column">
          <p class="focus-on-lesion-pjF"leaf">Focus on Lesion</p>
          <p class="ensure-that-the-camera-lens-is-focused-on-the-area-of-concern-and-that-the-image-is-not-blurry-zXF"leaf">Ensure that the camera lens is focused on the area of concern and that the image is not blurry.</p>
        </div>
        <div class="group-3-P3b"column">
          <p class="crop-your-image-tFF"leaf">Crop your Image</p>
          <p class="crop-the-image-so-that-the-lesion-takes-up-one-third-of-the-width-and-one-third-of-the-height-and-is-centered-in-the-photo-AiZ"leaf">Crop the image so that the lesion takes up one-third of the width and one-third of the height, and is centered in the photo.</p>
        </div>
      </div>
      <button class="button-caZ"leaf" onClick="window.location.href='results.html';">Upload Image</button>
      <button class="button-suB"leaf" onClick="window.location.href='results.html';">Submit</button>
    </div>
    <div class="navigation-c-cDB"row">
      <div class="skin-tect-3ZP"leaf">Skin-tect</div>
      <div class="home-73T"leaf">Home</div>
      <div class="additional-resources-oS5"leaf">Additional Resources</div>
      <div class="about-us-tiR"leaf">About Us</div>
      <button class="button-o4h"leaf" onClick="window.location.href='create-account';">I’m a Healthcare Provider</button>
    </div>
  </div>
  <div class="rectangle-D8R"leaf">
  </div>
  <div class="rectangle-3-4Pw"leaf">
  </div>
</div>
</body>